html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px; /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #cfcfcf;
  line-height: 50px;
  text-align: center;
}